<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.lb.mapper.SysCodeMapper">
	<!-- 映射合同和合同下货物信息一对多 -->
	<resultMap type="com.briup.lb.bean.SysCode" id="sysCodeRM">
		<id property="id" column="SYS_CODE_ID"/>
		<result property="name" column="NAME"/>
		<result property="orderNo" column="ORDER_NO"/>
	</resultMap>
	
	<!-- 查询某个分类下的内容 -->
	<select id="find" parameterType="map" resultMap="sysCodeRM">
		select sys_code_id,name,order_no from tbl_sys_code
		where 1=1
		<if test="parentId != null"> and PARENT_ID=#{parentId}</if>
	</select>
	
</mapper>